
.card--admin .row
    margin 0
    height 100%
    align-content center
    text-align left
    height 84px
    & .col-sm-1, .col-sm-8
        height 84px
    & .col-sm-8
        padding-left 28px
        padding-top 28px
        display flex
        align-content center
.card--admin
    margin 8px 0
    height 84px!important
.card--admin
    & .button
        &__card
            &--delete
                background: linear-gradient(145deg, #ed213a, #93291e);
            &--edit
                background:linear-gradient(145deg, #4b6cb7, #182848);
            &--goto
                background: linear-gradient(-45deg, rgba(0,141,131,1) 0%, rgba(81,255,143,1) 100%);
                border-radius 0 8px 8px 0
    & .col-sm-1  
        display flex
        justify-content center          
        & img
            height 40px
            display block
            margin-top 22px