.card--admin .row {
  margin: 0;
  height: 100%;
  align-content: center;
  text-align: left;
  height: 64px;
}
.card--admin .row .col-sm-1,
.card--admin .row .col-sm-8 {
  height: 64px;
}
.card--admin .row .col-sm-7 {
  padding-left: 28px;
  display: flex;
  align-content: center;
}
.card--admin .row .col-sm-7 h2 {
  align-self: center;
}
.card--admin {
  margin: 12.5px 0;
  height: 64px;
}
.card--admin__image {
  border-radius: 8px 0 0 8px;
}
.card--admin .button__card--delete {
  background: linear-gradient(145deg, #ed213a, #93291e);
  cursor: pointer;
}
.card--admin .button__card--delete:hover img {
  padding: 4px;
  transition: 0.15s;
}
.card--admin .button__card--edit {
  background: linear-gradient(145deg, #4b6cb7, #182848);
  cursor: pointer;
}
.card--admin .button__card--edit:hover img {
  padding: 2px;
  transition: 0.15s;
}
.card--admin .button__card--goto {
  background: linear-gradient(-45deg, #008d83 0%, #51ff8f 100%);
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}
.card--admin .button__card--goto:hover img {
  padding: 2px;
  transition: 0.15s;
}
.card--admin .col-sm-1 {
  display: flex;
  justify-content: center;
}
.card--admin .col-sm-1 img {
  height: 36px;
  padding: 8px;
  display: block;
  margin-top: 16px;
  transition: 0.15s;
}
select#selfCatering {
  -webkit-appearance: none;
  opacity: 1;
  display: block;
  background-image: url("../../../img/gfx/arrow_down_gradient.svg");
  background-repeat: no-repeat;
  background-position: right 10px top 3px;
  background-size: 28px;
  cursor: pointer;
}
.form__img--add {
  width: 100%;
  display: block;
  transition: 0.2s;
}
.form__img--add-container {
  height: 120px;
  display: block;
  cursor: pointer;
  padding: 4px;
}
.form__img--add-container div {
  background: linear-gradient(-45deg, #008d83 0%, #51ff8f 100%);
  width: 56px;
  height: 56px;
  margin: 8px auto 8px auto;
  transition: 0.2s;
  border-radius: 100%;
  display: block;
}
.form__img--add-container:hover div {
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0px;
  height: 68px;
  width: 68px;
}
.form__img--add-container:hover img {
  transform: rotate(90deg);
}
