footer
    background: linear-gradient(-45deg, rgba(0,141,131,1) 0%, rgba(81,255,143,1) 100%);
    margin 0
    margin-top 100px
    padding 50px 0
    color white
    
.hr
    &__footer
        border 0
        height 3px
        background-color white
        margin 10px auto 25px auto
        padding 0
        max-width 600px
        
.h2
    &__footer
        text-decoration underline
        margin-bottom 20px
    
.p
    &__footer
        color white
        margin 5px 0 0 0
        & a, & a:visited
            color white