@import url("https://fonts.googleapis.com/css2?family=Bellota:wght@300&display=swap");
.navbar {
  background-color: #fff;
}
.navbar-brand {
  font-family: 'Bellota';
  font-weight: 100;
  font-size: 48px;
  margin: 0;
}
.navbar-nav .col-sm-4 a:hover {
  text-decoration: none;
}
.navbar-toggler {
  border: 0;
}
.navbar-toggler-icon {
  background-image: url("../../img/gfx/burger.svg") !important;
}
.nav-link {
  font-family: "montserrat";
  font-weight: 600;
}
input[type=date]#checkIn::-webkit-inner-spin-button {
  display: none !important;
}
input[type=date]#checkIn::-webkit-calendar-picker-indicator {
  color: rgba(0,0,0,0);
  opacity: 1;
  background-image: url("../../img/gfx/checkin.svg");
  background-repeat: no-repeat;
  width: 28px;
  height: 24px;
  cursor: pointer;
  margin-left: 5px;
}
input[type=date]::-webkit-search-cancel-button,
input[type=date]::-webkit-clear-button {
  -webkit-appearance: none;
}
input[type=date]#checkOut::-webkit-inner-spin-button {
  display: none !important;
}
input[type=date]#checkOut::-webkit-calendar-picker-indicator {
  color: rgba(0,0,0,0);
  opacity: 1;
  background-image: url("../../img/gfx/checkout.svg");
  background-repeat: no-repeat;
  width: 28px;
  height: 24px;
  cursor: pointer;
  margin-left: 5px;
}
.container {
  max-width: 1200px;
}
.hr__header {
  height: 2px;
  width: 40%;
  margin: 10px 30% 40px 30%;
  display: inline-block;
  background: linear-gradient(-45deg, #008d83 0%, #51ff8f 100%);
  border: none;
}
.hr__header--small {
  height: 2px;
  width: 325px;
  margin: 10px auto 20px auto;
  display: inline-block;
  background: linear-gradient(-45deg, #008d83 0%, #51ff8f 100%);
  border: none;
}
.hr__card {
  height: 2px;
  width: 100%;
  margin: 10px 0 20px 0;
  display: inline-block;
  background: linear-gradient(-45deg, #008d83 0%, #51ff8f 100%);
  border: none;
}
h1 {
  width: 100%;
  margin: 0;
  font-size: 36px;
  font-weight: 400;
  font-family: montserrat;
}
h2 {
  width: 100%;
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  font-family: montserrat;
}
p {
  font-family: montserrat;
  font-size: 18px;
}
p.p--small {
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}
.row .col-md-6 {
  padding: 10px;
}
.row .col-md-6:nth-child(2n+2) .hr__card {
  background: linear-gradient(-45deg, #008d83 0%, #51ff8f 100%);
}
.row .col-md-6:nth-child(2n+2) .button__container {
  background: linear-gradient(-45deg, #008d83 0%, #51ff8f 100%);
}
.row .col-md-6:nth-child(2n+2) .card-button {
  background: linear-gradient(-45deg, #008d83 0%, #51ff8f 100%);
}
.card {
  border: 0;
  border-radius: 8px;
  box-shadow: 3px 3px 8px rgba(136,136,136,0.267);
  transition: 0.25s;
}
.card:hover {
  box-shadow: 3px 3px 8px rgba(136,136,136,0.067);
  transition: 0.25s;
  background-color: rgba(247,247,247,0.969) f7f7;
}
.card-img-top {
  border-radius: 8px 8px 0 0;
  height: 250px;
}
.card-button {
  height: 50px;
  border: 0;
  background: linear-gradient(-45deg, #008d83 0%, #51ff8f 100%);
  transition: 0.25s;
}
.card-button:hover {
  background: #fff !important;
  transition: 0.25s;
  color: #090909;
}
.card-text {
  font-family: montserrat;
  font-size: 18px;
  font-weight: 300;
}
button {
  font-size: 24px !important;
  font-family: montserrat;
  font-weight: 200 !important;
}
input,
textarea {
  font-family: montserrat;
}
.card .button__container {
  width: 60% !important;
  display: block;
}
.button__container {
  padding: 2px;
  background: linear-gradient(-45deg, #008d83 0%, #51ff8f 100%);
  border-radius: 6px;
  margin: 0 auto;
  display: inline-block;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.input--border {
  padding-bottom: 4px;
  margin-top: 40px;
  background: linear-gradient(-45deg, #008d83 0%, #51ff8f 100%);
}
.input--border-number {
  width: 60px;
  background: linear-gradient(-45deg, #008d83 0%, #51ff8f 100%);
  margin: 40px auto 0 auto;
  padding-bottom: 4px;
  display: block;
}
.input__icon {
  position: absolute;
  right: 26px;
  height: 26px;
  margin-top: 4px;
}
.form__p {
  font-size: 14px;
}
.hidden {
  display: none;
}
.alert__container {
  padding: 2px;
  border-radius: 8px;
  margin-bottom: 30px;
  box-shadow: 3px 3px 8px rgba(136,136,136,0.267);
}
.alert__container--success {
  background: linear-gradient(-45deg, #008d83 0%, #51ff8f 100%);
}
.alert__container--edit {
  background: linear-gradient(145deg, #ed213a, #93291e);
}
.alert__container--remove {
  background: linear-gradient(145deg, #4b6cb7, #182848);
}
.alert__content {
  min-height: 36px;
  padding-top: 5px;
  border-radius: 6px;
  font-size: 18px;
  font-family: "montserrat";
  color: #fff;
  width: 90%;
  margin: 0 5%;
}
@media (max-width: 992px) {
  .nav-link {
    text-align: center;
  }
  .navbar-brand {
    font-size: 38px;
  }
  .col-sm-12 {
    margin: 0 auto;
  }
  .hr__header {
    width: 90%;
    margin: 10px 5% 20px 5%;
  }
  .hr__header--small {
    width: 80%;
    margin: 10px 10% 20px 10%;
  }
  h1 {
    margin-top: 30px;
    font-size: 32px;
  }
  button {
    font-size: 20px !important;
  }
  .card--admin {
    height: auto !important;
    margin-top: 15px;
  }
  .card--admin__image {
    border-radius: 8px 8px 0 0 !important;
    height: 100px;
  }
  .card--admin .row {
    height: auto !important;
  }
  .card--admin h2 {
    text-align: center;
    margin: 8px;
  }
  .button__card--edit,
  .button__card--delete,
  .button__card--goto {
    height: auto !important;
    padding: 15px 0;
    margin-top: 0px !important;
  }
  .button__card--edit img,
  .button__card--delete img,
  .button__card--goto img {
    margin: 0 !important;
  }
  .button__card--goto {
    border-radius: 0 0 8px 0 !important;
  }
  .button__card--delete {
    border-radius: 0 0 0 8px !important;
  }
}
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background: #e9e9e9;
}
::-webkit-track {
  background: #f00;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(-45deg, #008d83 0%, #51ff8f 100%);
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(-45deg, #008d83 0%, #51ff8f 100%);
}
