.card--admin-enquries .row {
  margin: 0;
  height: 100%;
  align-content: center;
  text-align: left;
}
.card--admin-enquries .row .col-sm-1,
.card--admin-enquries .row .col-sm-8 {
  height: 48px;
}
.card--admin-enquries .row .col-sm-8 {
  padding-left: 28px;
  padding-top: 28px;
  display: flex;
  align-content: center;
}
.card--admin-enquries {
  margin: 8px 0 !important;
  height: auto !important;
  border-radius: 8px !important;
}
.card--admin-enquries .col-sm-5,
.card--admin-enquries .col-sm-3 {
  padding-top: 12px;
  height: 20px;
}
.card--admin-enquries .button__card--goo {
  background: linear-gradient(-45deg, #008d83 0%, #51ff8f 100%);
}
.card--admin-enquries .col-sm-1 {
  display: flex;
  justify-content: center;
}
.card--admin-enquries .col-sm-1 img {
  height: 40px;
  display: block;
  margin-top: 4px;
}
.hr__enquiries {
  background: linear-gradient(-45deg, #008d83 0%, #51ff8f 100%);
  height: 2px;
  border: 0;
  width: 90%;
  margin: 20px auto 40px auto;
}
.redXinput,
.redX {
  cursor: pointer;
}
