greenGradient = linear-gradient(-45deg, rgba(0,141,131,1) 0%, rgba(81,255,143,1) 100%);

footer
    background greenGradient
    margin 0
    margin-top 100px
    padding 50px 0
    color white
    & h1
        font-family 'Bellota'
        font-weight 100
        font-size 48px
        margin 0
    
.hr
    &__footer
        border 0
        height 3px
        background-color white
        margin 10px auto 25px auto
        padding 0
        max-width 600px
        
.h2
    &__footer
        text-decoration underline
        margin-bottom 20px
    
.p
    &__footer
        color white
        margin 5px 0 0 0
        & a, & a:visited
            color white